body {
    background: #E5E5E5;
}

.title h1 {
    font-size:x-large;
    color: #333;
}

.title p {
    margin: 4px;
    padding-bottom: 25px;
    font-family: var(--font);
    font-size: var(--sub-size);
    color: #888;
}

.container {
    text-align: center;
}

.margin {
    margin: 40px;
}

.progress {
    display: inline-block;
    width: 400px;
    height: 50px;
    margin: 35px;
    border-radius: 10px;
    background: #444444;
}

.bar {
    border-radius: 10px;
    /* width: 0%; */
    height: 100%;
    transition: width;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(.36,.55,.63,.48);
}

.mobile {
    display: none;
}

.shadow {
    /* 25 50 */
    box-shadow: 0px 45px 50px rgba(0, 0, 0, 0.25); 
}

.crosses {
    background-color: #DF00E5;
}

.jupiter {
    background-color: #90f3f3;
}

.piano {
    background-color: #f58580;
}

.dominos {
    background-color: #fff6bd;
}

.pie {
    background-color: #faaca8;
}

.bees {
    background-color: #675e47;
}

.food {
    background-color: #9f8314;
}

.floor {
    background-color: #00b9f2;
}

.wiggle {
    background-color: #dbbef9;
}

.bars {
    background-color: #ffe67c;
}

.bubbles {
    background-color: #09d116;
}

.ticTac {
    background-color: #c416a1;
}

.zigZag {
    background-color: #00dac3;
}

.stripes {
    background-color: #ffffff;
}

.clouds {
    background-color: #959bb5;
}

.aztec {
    background-color: #d59242;
}

.circuit {
    background-color: #002ab4;
}

.dots {
    background-color: #69ff05;
}

.lines {
    background-color: #efefef;
}

.leaf {
    background-color: #b5ccbf;
}

.overlap {
    background-color: #ffadff;
}

@media screen and (max-width: 500px) {
    .progress {
        width: calc(100vw * 0.7);
        /* height: calc(100vw * 0.7 * 0.145); */
        height: 40px;
        margin: 25px;
    }

    .github {
        margin: 20px;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: inherit;
    }
}